<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Time Slots</title>
</head>
<body>
    <h2 th:text="'Add Time Slots for Group: ' + ${group.title}"></h2>
    <h3> Auto Generate Time slots</h3>
    <form th:action="@{/professor-dashboard/group/{id}/slots/auto-multi-day(id=${group.id})}" method="post">
        <label> Start TIme :</label>
        <input type="datetime-local" name="startTime" required ><br>
        <label>End Time:</label>
        <input type="datetime-local" name="endTime" required ><br>
        <label> Slot Duration (minutes):</label>
        <input type="number" name="durationInMinutes" min="1" required ><br>
        <label> Dates to split:</label>
        <input type="text" name ="selectedDates" placeholder="2025-11-01,2025-11-02" required><br/>
        <p>5 min break will be added for every 2 time slots, format = yyyy-mm-dd</p>
        <button type="submit"> Auto Generate Slots</button>


    </form>
    <hr>

    <h3> Add Individual Slots </h3>
    <form th:action="@{/professor-dashboard/group/{id}/slots(id=${group.id})}" th:object="${timeSlot}" method="post">
        <label>Start Time:</label>
        <input type="datetime-local" th:field="*{startTime}" required /><br/>
        <label>End Time:</label>
        <input type="datetime-local" th:field="*{endTime}" required /><br/>
        <button type="submit">Add Slot</button>
    </form>
    <h3>Existing Slots</h3>
    <ol>
        <li th:each="slot : ${slots}">
            <span th:text="${#temporals.format(slot.startTime, 'yyyy-MM-dd HH:mm')}"></span> -
            <span th:text="${#temporals.format(slot.endTime, 'yyyy-MM-dd HH:mm')}"></span>
            <span th:if="${slot.isBooked}">[Booked]</span>
            <!-- <span th:if="${slot.bookedBy != null}">by <span th:text="${slot.bookedBy}"></span></span> -->
            <span th:if="${slot.bookedStudentsEmails != null and !slot.bookedStudentsEmails.isEmpty()}">
                by <span th:text= "${#strings.listJoin(slot.bookedStudentsEmails, ', ')}"></span>
            </span>
        </li>
    </ol>
    <a th:href="@{/professor-dashboard}">Back to Dashboard</a>
</body>
</html>
